<!-- debug -->
<!-- <pre>{{ form.value | json }}</pre> -->

<app-form-template
    [formTitle]="'Criar Container'"
    [formGroup]="form"
    [submitText]="'Confirmar'"
    [cancelText]="'Cancelar'"
    (formSubmit)="onSubmit()"
>
    <app-input
        [control]="getControl('code')"
        type="text"
        label="Código"
        placeholder="Digite o código do container"
        
    ></app-input>
    <app-input
        [control]="getControl('description')"
        type="text"
        label="Descrição"
        placeholder="Digite a descrição do container"
        
    ></app-input>
    <app-input
        [control]="getControl('type')"
        type="select"
        label="Tipo"
        [options]="typeOptions"
        placeholder="Selecione o tipo do container"
    ></app-input>

</app-form-template>