<div class="list-container">
    <div class="list-actions">
        <div class="list-item">
            <span class="item-icon"><fa-icon id="plus" [icon]="icon.faPlus"></fa-icon></span>
            <span class="item-text">Registrar Entrada</span>
        </div>
        <div class="list-item">
            <span class="item-icon"><fa-icon id="minus" [icon]="icon.faMinus"></fa-icon></span>
            <span class="item-text">Registrar Saída</span>
        </div>
        <div class="list-item">
            <span class="item-icon"><fa-icon id="box" [icon]="icon.faBox"></fa-icon></span>
            <span class="item-text">Ver Produtos</span>
        </div>
        <div class="list-item">
            <span class="item-icon"><fa-icon id="lock" [icon]="icon.faLock"></fa-icon></span>
            <span class="item-text">Ver Unidades</span>
        </div>
        <div class="list-item">
            <span class="item-icon"><fa-icon id="file" [icon]="icon.faFileAlt"></fa-icon></span>
            <span class="item-text">Gerar Relatórios</span>
        </div>
    </div>
</div>