
.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 80px;
    background-color: #1976d2; /* Azul */
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
    margin: 0 auto;
    margin-top: 10px;
}

button:hover {
    background-color: #1565c0; /* Azul mais escuro no hover */
    color: #fff;
    text-decoration: none;
}
#space{
    margin-right: 10px;
}
input{
  opacity:0; position:absolute; 
  height: 40px;
  width: 500px;
  border-radius: 2px;
}

.error-message {
    color: #d32f2f; /* Vermelho */
    background-color: #ffcdd2; /* Fundo vermelho claro */
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #d32f2f;
}

.form-container {
    margin-top: 20px;
    width: 100%;
}