.empty-stationary {
  //padding: 2rem;
  color: #939393;

  .empty-icon {
    /*color:alpha($color: #ff1a1a);*/
    color: rgba(47, 88, 333, 0.9);
    margin-bottom: 1rem;
  }

  .empty-content {
    padding: 2.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border: 2px dashed rgba(163, 201, 254, 0.5);
  }
  .empty-message {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(88, 94, 207);
  }

  .empty-button {
    padding: 3.75rem;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .empty-button:hover {
    background-color: #0056b3;
  }
}
