.empty-stationary {
  padding: 2rem;
  color: #666;

  .empty-icon {
    color:alpha($color: #ff1a1a);
    margin-bottom: 1rem;
  }

  .empty-content {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .empty-message {
    border-style: round;
    border-width: 55px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(232, 232, 2);
  }

  .empty-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .empty-button:hover {
    background-color: #0056b3;
  }
}
