<app-nav-bar></app-nav-bar>

<div class="dashboard-container">
  <div class="main-content">
    <h1 class="dashboard-title">Cozinha</h1>

    <!-- Seção de Cards -->
    
  <div class="cards-container">
      <app-dashboard-cards
        headerValue="56"
        bodyText="Produtos na Cozinha"
        [icon]="faKitchenSet"
        background="#28a745"
        color="#fff"
        hoverBackground="#218838"
      ></app-dashboard-cards>

    
      <app-dashboard-cards
        headerValue="25"
        bodyText="Produtos na cozinha perto do Vencimento"
        [icon]="faClock"
        background="#ff2222"
        color="#fff"
        hoverBackground="#ed0000"
      ></app-dashboard-cards>

      <app-dashboard-cards
        headerValue="8"
        bodyText="Pedidos em Andamento"
        [icon]="faSpinner"
        background="#ffc107"
        color="#333"
        hoverBackground="#e0a800"
      ></app-dashboard-cards>
    </div>

    <!-- Seção de Tabelas -->
    <div class="tables-container">
      <app-p-table title="Últimos Pedidos" [data]="ultimosPedidos" [view]="true"></app-p-table>
      <app-p-table title="Produtos na Cozinha" [data]="produtosNaCozinha" [showSearch]="true"></app-p-table>
    </div>
  </div>

  <!-- Ações do dashboard -->
  <div class="dashboard-actions">
    <div class="list-container">
      <div class="list-actions">
        <div class="list-item" (click)="navigateTo('kitchen/request')">
          <span class="item-icon"><fa-icon id="fazer-pedido" [icon]="faCartPlus"></fa-icon></span>
          <span class="item-text">Fazer Pedido</span>
        </div>
        <div class="list-item" (click)="navigateTo('kitchen/reports')">
          <span class="item-icon"><fa-icon id="gerar-relatorio" [icon]="faFileAlt"></fa-icon></span>
          <span class="item-text">Gerar Relatórios</span>
        </div>
        <div class="list-item" (click)="navigateTo('kitchen/finish-order')">
          <span class="item-icon"><fa-icon id="finalizar-pedido" [icon]="faCheckCircle"></fa-icon></span>
          <span class="item-text">Finalizar Pedido</span>
        </div>
      </div>
    </div>
  </div>
</div>