.notfound{
    text-align: center;
    text-justify: center;
    h1{
        font-size: 10rem;
        color: #61b0ff;
    }

    h2{
        display: inline-block;    
        background-color: aliceblue;  
        font-size: 2rem;
        margin-bottom: 20px;
        border-radius: 9px;
     }  
     h4{
        display: inline-block;    
        background-color: aliceblue;  
        font-size: 1.4rem;
        margin-bottom: 20px;
        border-radius: 9px;
    }
    p{
        font-size: 1.2rem;
        color: #666;
    }
    a{
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #61c2ff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover{
            background-color: #50e680;
        }
    }
}
