<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 meta tags acima *devem* vir primeiro na head e todo o conteúdo que vier na Head deve vir depois desses 3 elementos (tags)-->
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>404 Component</title>
<meta name="robots" content="noindex, follow">
<style>body {background-image: url('images/A-White-Island-Camiguin.jpg'); height: 138vh; background-size: cover; background-position: center;}
:is([id*='google_ads_iframe'],[id*='taboola-'],.taboolaHeight,.taboola-placeholder,#top-ad,#credential_picker_container,#credentials-picker-container,#credential_picker_iframe,[id*='google-one-tap-iframe'],#google-one-tap-popup-container,.google-one-tap__module,.google-one-tap-modal-div,#amp_floatingAdDiv,#ez-content-blocker-container) {display:none!important;min-height:0!important;height:0!important;}
</style>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
				<h1>Oops!</h1>
				<h2>404:  A Página não foi Encontrada...</h2>
                <h4>Isso Acontece quando o Endereço na Barra de Pesquisa foi Digitado incorretamente, ou a página não existe Mais.</h4>
                <!--Como Definir uma Imagem de Fundo no Scss?
                //Adicione essa imagem na pasta assets e chame ela aqui, assim:
                //background-image: url('/assets/imagem.png')-->
          <a href="dashboard">Vamos a Tela Inicial, Clique Aqui</a>
		</div>
	</div>


</body>
</html>