<div class="empty-stationary">
    <div class="container">
    <img src="https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif">
    </div>
    <!--
    <div class="empty-content">
        <i class="fas fa-plus"></i>
        <fa-icon [icon]="icon" class="empty-icon" size="3x"></fa-icon>
        <p class="empty-message">{{ message }}</p>
    </div>
    

    <button *ngIf="showButton" (click)="onButtonClick()" class="empty-button">
        <p>{{ Elbutton }}</p>
    </button>
-->
</div>
<p>The the404-page Works!</p>
