<app-form-template
  [formTitle]="'Excluir Movimentação'"
  [formGroup]="form"
  [submitText]="'Confirmar'"
  [cancelText]="'Cancelar'"
  (formSubmit)="onSubmit()"
>
  <!-- ID -->
  <app-input
    [control]="getControl('ID')"
    type="number"
    label="ID"
    placeholder="Digite o ID do Movimento"
    maskUse="00000000000"
  ></app-input>

  <!-- SourceType -->
  <app-input
    [control]="getControl('sourceDetails')"
    type="string"
    label="SourceDetails"
    placeholder="Digite Os Detalhes do Recurso Movimentação"
  ></app-input>

  <!-- Tipo de SourceType -->
  <app-input
    [control]="getControl('sourceType')"
    type="text"
    label="Tipo de Recurso"
    placeholder="Ex: g, kg, ml"
  ></app-input>

  <!-- Unidade -->
  <app-input
    [control]="getControl('unitId')"
    type="number"
    label="Unidade"
    placeholder="Digite o ID da Unidade"
  ></app-input>

  <app-input
    [control]="getControl('origin')"
    type="string"
    label="origin"
    placeholder="Digite Os Detalhes da Origem da Movimentação"
  ></app-input>
  <app-input
    [control]="getControl('destiny')"
    type="string"
    label="destiny"
    placeholder="Digite Os Detalhes do Destino da Movimentação"
  ></app-input>
  <app-input
    [control]="getControl('Type')"
    type="string"
    label="Type"
    placeholder="Digite o Tipo da Movimentação"
  ></app-input>
  <app-input
    [control]="getControl('quantity')"
    type="number"
    label="quantity"
    placeholder="Digite a Quantidade da Movimentação"
  ></app-input>
  <app-input
    [control]="getControl('movementDate')"
    type="date"
    label="movementDate"
    placeholder="Digite a Data da Movimentação"
  ></app-input>
  <app-input
    [control]="getControl('userName')"
    type="text"
    label="userName"
    placeholder="Digite seu Nome para a Movimentação"
  ></app-input>
</app-form-template>
