<app-form-template
  formTitle="Cadastro de Produto"
  [formGroup]="formulario"
  submitText="Salvar"
  cancelText="Cancelar"
  (formSubmit)="enviarFormulario()"
  (formCancel)="onCancel()">
  
  <app-input
    type="text"
    label="Nome"
    [control]="nomeControl"
    placeholder="Digite o nome">
  </app-input>

  <app-input
    type="number"
    label="Preço"
    [control]="precoControl"
    placeholder="Digite o preço">
  </app-input>

  <app-input
    type="select"
    label="Categoria"
    [control]="categoriaControl"
    placeholder="Selecione a categoria"
    [options]="categorias">
  </app-input>
  
</app-form-template>