.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control:focus {
  outline: none;
  border-color: #03fc88;
  box-shadow: 0 0 0 2px rgba(3, 252, 136, 0.2);
}

.error-message {
  color: #fc3103;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  height: 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

select.form-control {
  height: 2.5rem;
}

@Component({
  selector: 'app-input',
  templateUrl: './input.component.html',
})
export class InputComponent {
  @Input() label = '';
  @Input() control!: FormControl;
  @Input() type: 'text' | 'number' | 'email' | 'select' = 'text';
  @Input() options?: { label: string; value: any }[] = []; // opcional
}


<!-- input.component.html -->
<div class="form-group">
  <label>{{ label }}</label>

  <ng-container [ngSwitch]="type">
    <input
      *ngSwitchCase="'text'"
      type="text"
      [formControl]="control"
    />
    <input
      *ngSwitchCase="'number'"
      type="number"
      [formControl]="control"
    />
    <input
      ngSwitchCase="'email'"
      type="email"
      [formControl]="control"
    />
    <selectngSwitchCase="'select'" [formControl]="control">
      <option [ngValue]="null" disabled selected>Selecione</option>
      <option ngFor="let opt of options" [ngValue]="opt.value">{{ opt.label }}</option>
    </select>
  </ng-container>

  <divngIf="control.invalid && control.touched" class="error">
    Campo inválido
  </div>
</div>



<app-form-template
  [title]="'Editar Produto'"
  (submitForm)="onSubmit()"
  (cancelForm)="onCancel()"
>
  <app-input [label]="'Nome'" [control]="form.get('name')!"></app-input>
  <app-input [label]="'Preço'" [control]="form.get('price')!" type="number"></app-input>
  <app-select [label]="'Categoria'" [control]="form.get('categoryId')!" [options]="categories"></app-select>
</app-form-template>