<div class="form-group" [class.has-error]="control?.invalid && (control?.touched || control?.dirty)">
  <label *ngIf="label">{{ label }}</label>

  <!-- Input normal Add Later: [mask]="maskUse"-->
  <input 
    *ngIf="type !== 'select' && type !== 'date'"
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder || ''"
    [disabled]="disable"
    
  >

  <!-- Input date -->
  <input 
    *ngIf="type === 'date'"
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder || ''"
    [disabled]="disable"
    [attr.mask]="'00/00/0000'"
  >

  <!-- Select -->
  <select 
    *ngIf="type === 'select'"
    [formControl]="control"
    [class.is-invalid]="control?.invalid && (control?.touched || control?.dirty)"
    [disabled]="disable"
  >
    <option [ngValue]="" disabled>{{ placeholder || 'Selecione...' }}</option>
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <!-- Validação -->
  <div class="error-message" *ngIf="control?.invalid && (control?.touched || control?.dirty)">
    <div *ngIf="control?.hasError('required')">Campo obrigatório</div>
    <div *ngIf="control?.hasError('email')">Email inválido</div>
    <div *ngIf="control?.hasError('minlength')">
      Mínimo de {{ control?.getError('minlength')?.requiredLength }} caracteres
    </div>
    <div *ngIf="control?.hasError('maxlength')">
      Máximo de {{ control?.getError('maxlength')?.requiredLength }} caracteres
  </div>
    <div *ngIf="control?.hasError('pattern')">Formato inválido</div>
    <div *ngIf="control?.hasError('onlyNumbers')">Apenas números são permitidos</div>
    <div *ngIf="control?.hasError('exactLength')">
      O campo deve ter exatamente {{ control?.getError('exactLength')?.requiredLength }} dígitos
      </div>
      
    
</div>