table {
    width: 88%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-content: center;
    text-align:center;
    margin-top: 20px;
}
caption{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    border-radius: 2px;
    padding: 8px;
    background-color: #f2f2f2;
}
 
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}
 
th {
    background-color: #e6e6e6;
    font-weight: bold;
}
 
tr:hover {
    background-color: #d9d9d9;
}
 
button {
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.table-icon{
    font-size: 14pt;
}
 
.edit-btn {
    background-color: #40c5d6;
    color: white;
}
 
.delete-btn {
    background-color: #de6767;
    color: white;
}


.view-btn {
    background-color: #241e7e;
    color: white;
}
 
.edit-btn:hover {
    background-color: #2697a6;
}
 
.delete-btn:hover {
    background-color: #da4f4d;
}
.view:hover{
    cursor: pointer;

}

.modal-btn{
    padding: 8px;
    font-weight: 12pt;
    margin: 10px;
    border-radius: 4px;
    background-color: #d1d1d1;

}
.modal-btn:hover{
    
    background-color: #a7a7a7;

}
.exclude-btn{
    background-color: #ca2d2d;
    color: white;
}
.exclude-btn:hover{
    background-color: #a71f1f;
}
.ok-btn{
    width: 50px;
    background-color: #2aa42a;
    color: white;
}
.ok-btn:hover{
    background-color: #1f7a1f;
}



