<app-form-template
  [formTitle]="'Editar Produto'"
  [formGroup]="form"
  [submitText]="'Confirmar'"
  [cancelText]="'Cancelar'"
  (formSubmit)="onSubmit()"
>
  <!-- GTIN -->
  <app-input
    [control]="getControl('gtin')"
    type="text"
    label="GTIN"
    placeholder="Digite o GTIN do produto"
    maskUse="00000000000"
  ></app-input>

  <!-- Medida -->
  <app-input
    [control]="getControl('measure')"
    type="number"
    label="Medida"
    placeholder="Digite a medida do produto"
    maskUse="000000"
  ></app-input>

  <!-- Tipo de Medida -->
  <app-input
    [control]="getControl('measureType')"
    type="text"
    label="Tipo de Medida"
    placeholder="Ex: g, kg, ml"
  ></app-input>

  <!-- Categoria -->
  <app-input
    [control]="getControl('categoryId')"
    type="number"
    label="Categoria"
    placeholder="Digite o ID da categoria"
  ></app-input>

  <!-- Caso queira usar select futuramente -->
  <!--
  <app-input
    [control]="getControl('categoryId')"
    type="select"
    label="Categoria"
    placeholder="Selecione a categoria"
    [options]="categoryOptions"
  ></app-input>
  -->
</app-form-template>
