.container {
    width: 90%;
    display: flex;
    margin-top: 15px;
    flex-direction: row; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    align-items: flex-start;
    
}

app-dashboard-actions {
    margin-top: 10px;
    width: 20%;
    margin-right: 50px;
}
app-dashboard-cards {
   margin-top: 10px;
   margin-left: 30px;
   margin-right: 0;
   
}