button {
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/*configuração de botões do modal*/
.modal-btn{
    padding: 8px;
    font-weight: 12pt;
    margin: 10px;
    border-radius: 4px;
     background-color: #ca2d2d;
    color: white;
}