<app-form-template
  [formTitle]="'Criar Produto'"
  [formGroup]="form"
  [submitText]="'Confirmar'"
  [cancelText]="'Cancelar'"
  (formSubmit)="onSubmit()"
>
  <!-- GTIN -->
  <app-input
    [control]="getControl('gtin')"
    type="text"
    label="GTIN"
    placeholder="Digite o GTIN do produto"
  ></app-input>

  <!-- Medida -->
  <app-input
    [control]="getControl('measure')"
    type="number"
    label="Medida"
    placeholder="Digite a medida do produto"
  ></app-input>

  <!-- Tipo de Medida -->
   <app-input
        [control]="getControl('measureType')"
        type="select"
        label="Tipo de Medida"
        placeholder="Selecione o tipo de medida"
        [options]="measureOption"
    ></app-input>

  <!-- Categoria -->
  <app-input
    [control]="getControl('categoryId')"
    type="number"
    label="Categoria"
    placeholder="Digite o ID da categoria"
  ></app-input>

  <!-- Futuro: select para categorias -->
  <!--
  <app-input
    [control]="getControl('categoryId')"
    type="select"
    label="Categoria"
    placeholder="Selecione a categoria"
    [options]="categoryOptions"
  ></app-input>
  -->
</app-form-template>
