*{
    font-family: "Poppins", sans-serif;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 475px; 
    -webkit-box-shadow: 0px 1px 3px 3px rgba(225, 225, 225, 0.75);
    -moz-box-shadow: 0px 1px 3px 3px rgba(225, 225, 225, 0.75);
    box-shadow: 0px 1px 3px 3px rgba(225, 225, 225, 0.75); 
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 10px solid rgb(51, 129, 207);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form{
    margin-left: -10px;
    width: 80%;
    align-items: center;
    justify-content: center;
    
}
input{
    display: block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
   
}
input:hover{
    border: 1px solid rgba(12, 13, 100, 0.582);
    
   
    

}
input:focus{
    outline: none;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 1px;
    

}
button{
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 129, 207);
    border: none;
    padding: 10px;
    width: 108%;
    margin-top: 40px;
    border-radius: 2px;
    font-size: 12pt;
    font-weight: bold;


}
button:hover{
    color: rgb(238, 238, 238);
    background-color: rgb(39, 95, 151);
    cursor: pointer;

}
h3{
    font-size: 20pt;
    display: block;
    color: rgb(51, 129, 207);
    margin-bottom: 20px;

}