<app-form-template
  [formTitle]="'Criar Produto'"
  [formGroup]="form"
  [submitText]="'Confirmar'"
  [cancelText]="'Cancelar'"
  (formSubmit)="onSubmit()"
>
  <app-input
    [control]="getControl('gtin')"
    type="text"
    label="GTIN"
    placeholder="Digite o GTIN do produto"
    maskUse="00000000000"
  ></app-input>

  <app-input
    [control]="getControl('measure')"
    type="number"
    label="Medida"
    placeholder="Digite a medida do produto"
    maskUse="099"
  ></app-input>

  <app-input
    [control]="getControl('measureType')"
    type="select"
    label="Tipo de Medida"
    placeholder="Selecione o tipo de medida"
    [options]="measureOption"
  ></app-input>
<!-- 
  <app-input
    [control]="getControl('categoryId')"
    type="number"
    label="ID da Categoria (Selecionada)"
    placeholder="Selecione uma categoria na tabela abaixo"
    [isReadOnly]="true"
  ></app-input> -->

  <app-p-table
    [data]="categories"
    [title]="'Selecione uma Categoria'"
    [select]="true"
    [showSearch]="true"
    (onSelect)="handleCategorySelection($event)" >
  </app-p-table>

</app-form-template>